<header>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <%= logo %>
      </div>
      <div class="col-md-7 header-nav">
        <% if login? %>
          <ul class="nav">
            <li><%= link_to 'マイページ', user_path(current_user), class:"btn" %></li>
            <li><%= link_to '通知', '#', class:"btn"  %></li>
            <li><%= link_to 'ユーザ一覧', users_path, class:"btn"  %></li>
            <li><%= link_to 'ログアウト', logout_path, method: :delete, class:"btn"  %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</header>