<header>
  <div class="container">
    <%= link_to 'INSTA_APP', root_path, id:'logo' %>
    <nav>
      <ul class="nav pull-right nav-pills">
        <% if login? %>
          <li><%= link_to 'マイページ', user_path(current_user) %></li>
          <li><%= link_to '通知', '#' %></li>
          <li><%= link_to 'ユーザ一覧', users_path %></li>
          <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to '見て頂いた方へ（このサイトについて）', about_path %></li>
          <li><%= link_to 'ログイン', login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>