<header>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <%= logo %>
      </div>
      <div class="col-md-7">
        <% if login? %>
          <nav>
            <ul class="nav nav-pills">
              <li><%= link_to 'マイページ', user_path(current_user) %></li>
              <li><%= link_to '通知', '#' %></li>
              <li><%= link_to 'ユーザ一覧', users_path %></li>
              <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
            </ul>
          </nav>
        <% end %>
      </div>
    </div>
  </div>
</header>