<div class="session-maker">
  <%= form_for(:sessions, url: login_path) do |f| %>
    <%= render 'partials/errors', obj:f.object %>
    
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control",autofocus: true %>

    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>

    <%= f.submit "ログイン", class:"btn btn-primary" %>
    <input class="btn btn-default" value="戻る" onclick="history.back()">
  <% end %>
</div>