<div class="left-side-content">
  <%= form_for @micropost do |f| %>
    <%= render 'partials/errors', obj:f.object %>

    <%= f.label :image_data %>
    <%= f.hidden_field :image, value:@micropost.cached_image_data %>
    <%= f.file_field :image %>
    <br>
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control' %>

    <%= f.submit "投稿する", class: "btn btn-success btn-block"%>
    <%= link_to 'キャンセル', user_path(current_user), class:"btn btn-default btn-block" %>
  <% end %>
</div>
