<div class="left-side-contents">
  <%= form_for(@user, url: password_path(current_user), html: {method: "patch"}) do |f| %>
    <%= render 'partials/errors', obj:f.object %>

    <%= f.label :current_password %>
    <%= f.password_field :current_password, class: 'form-control' %>

    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
    <hr>
    <%= f.submit class: "btn btn-primary btn-block"%>
    <%= link_to 'キャンセル', user_path(@user), class:"btn btn-default btn-block" %>
  <% end %>
</div>
