<div class="session-maker">
  <%= form_for @user do |f| %>
    <%= render 'partials/errors', obj:f.object %>

    <%= f.label :account %>
    <%= f.text_field :account, class: "form-control",autofocus: true%>

    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>

    <%= f.label :password %>
    <%= f.text_field :password, class: "form-control" %>

    <%= f.label :password_confirmation %>
    <%= f.text_field :password_confirmation, class: "form-control" %>

    <%= f.submit "新規登録", class:"btn btn-primary" %>
    <input class="btn btn-default" value="戻る" onclick="history.back()">
  <% end %>
</div>