<div class="left-side-content">
  <% if correct_user %>
    <a href="<%= edit_user_path(@user) %>" class="top-right-icon fa fa-cog" >プロフィール編集</a>
  <% end %>
  <div class="abstract">
    <%= gravatar_for(@user, size: 100) %>
    <h4><%= @user.name %></h4>
    <p><%= "@#{@user.account}" %></p>
  </div>
  <div class="introduction">
    <p><%= @user.introduction %></p>
  </div>
  <i class="fa fa-home fa-lg"></i> : <a href="<%= @user.web %>" target="_blank"><%= @user.web&.truncate(30) %></a>
  <hr>
  <div class="assets">
    <%= link_to 'フォロー', '#' %>
    <%= link_to 'フォロワー', '#' %>
    <%= link_to "画像投稿  #{@user.microposts.count}", @user %>
    <%= link_to 'いいね', '#' %>
  </div>
</div>
