<div class="user-profile clearfix">
  <a href="<%= edit_user_path(@user) %>" class="top-right-icon fa fa-cog" >プロフィール編集</a>
  <div class="abstract">
    <%= gravatar_for(@user, size: 100) %>
    <h4><%= @user.name %></h4>
    <p><%= "@#{@user.account}" %></p>
  </div>
  <div class="introduction">
    <p><%= @user.introduction %></p>
  </div>
  <%= link_to @user.web, @user.web %>
  <hr>
  <div class="assets">
    <%= link_to 'フォロー', '#' %>
    <%= link_to 'フォロワー', '#' %>
    <%= link_to '画像投稿', '#' %>
    <%= link_to 'いいね', '#' %>
  </div>
</div>
