<div class="container">
  <div class="row">
    <div class="col-md-4 none">
      <%= render 'partials/user_profile' %>
    </div>
    <div class="user-contents col-md-8">
      <h4 class="sub-title"><%= @page_title %></h4>
      <div class="users-index">
        <%= paginate @users %>
        <%= render @users %>
        <%= paginate @users %>
      </div>
    </div>
  </div>
</div>