<div class="root-page">
  <% if login? %>
    <div class="container user-show-edit">
      <div class="row">
        <div class="col-md-4 none">
          <%= render 'partials/user_profile' %>
        </div>
        <div class="user-contents col-md-8">
          <h2>他のユーザーの投稿画像</h2>
          <div class="user-posts">
            <p>user.follower.posts</p>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="container top_background">
      <%= link_to '新規登録する', "/signup", class:"btn btn-lg btn-primary center-block",id:"signup-btn"%>
      <%= link_to 'ログイン', "/login",class:"btn btn-lg center-block btn-info",id:"signin-btn"%>
      <%= form_for(@user, url:login_path) do |f| %>
        <%= f.hidden_field :email, value: "test@example.com" %>
        <%= f.hidden_field :password, value: "password" %>
        <%= f.submit "一発ログイン！", class:"btn btn-lg center-block btn-success"%>
      <% end %>
    </div>
  <% end %>
</main>
