<div class="container">
  <div class="row">
    <div class="col-md-4 none" id="account_contents" >
      <%= render 'partials/user_profile' %>
    </div>
    <div class="user-contents col-md-8" id="multiple_contents">
      <h4 class="sub-title"><%= @page_title if !page_title.nil? %></h4>
      <% if @microposts.nil? or @microposts.blank? %>
        <p><%= "'#{params[:query]}'と一致する画像はありません。" %></p>
      <% else %>
        <ul class="user-posts">
          <%= render @microposts %>
        </ul>
        <%= paginate @microposts %>
      <% end %>
    </div>
  </div>
</div>