<% if login? %>
  <div class="container left-side-content mordal-window">
    <%= form_for @micropost, remote: true do |f| %>
      <%= render 'partials/errors', obj:f.object %>

      <%= f.label :image_data %>
      <%= f.hidden_field :image, value:@micropost.cached_image_data %>
      <%= f.file_field :image, accept: 'image/jpeg,image/png'%>
      <br>
      <%= f.label :content %>
      <%= f.text_area :content, class: 'form-control' %>

      <%= f.submit "投稿する", class: "btn btn-primary btn-block"%>
      <button type="button" class="btn btn-default pull-right" data-dismiss="modal">閉じる</button>
    <% end %>
  </div>
<% end %>