<div class="container">
  <div class="row">
    <div class="col-md-4 none">
      <% unless current_user==@user %>
        <%= render 'partials/follow_button' %>
      <% end %>
      <%= render 'partials/user_profile' %>
    </div>
    <div class="user-contents col-md-8">
      <h4 class="sub-title"><%= @page_title %></h4>
      <ul class="user-posts">
        <%= render @microposts %>
      </ul>
      <%= paginate @microposts %>
    </div>
  </div>
</div>